In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
columns_list = crowdfunding_info_df.columns
print(columns_list)

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
# Split the 'category & sub-category' column into 'category' and 'subcategory' columns
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)

# Get unique categories and subcategories in separate lists.
unique_categories = crowdfunding_info_df['category'].unique()
unique_subcategories = crowdfunding_info_df['subcategory'].unique()

# Create Category DataFrame with sequential category_id
category_df = pd.DataFrame({
    'category_id': [f'cat{i+1}' for i in range(len(unique_categories))],
    'category': unique_categories
})

# Create Subcategory DataFrame with sequential subcategory_id
subcategory_df = pd.DataFrame({
    'subcategory_id': [f'subcat{i+1}' for i in range(len(unique_subcategories))],
    'subcategory': unique_subcategories
})

In [6]:
# Get the unique categories and subcategories 
unique_categories = category_df['category'].unique()
print(unique_categories)

unique_subcategories = subcategory_df['subcategory'].unique()
print(unique_subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(category_df))
print(len(subcategory_df))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
categories_array = np.arange(1, 10)
subcategories_array = np.arange(1, 25)

print("NumPy array for categories (1-9):", categories_array)
print("NumPy array for subcategories (1-24):", subcategories_array)

NumPy array for categories (1-9): [1 2 3 4 5 6 7 8 9]
NumPy array for subcategories (1-24): [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [10]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = [f'cat{cat_id}' for cat_id in categories_array]

# Use a list comprehension to add "subcat" to each subcategory_id.  
scat_ids = [f'subcat{subcat_id}' for subcat_id in subcategories_array]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [11]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category": unique_categories
})
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [12]:
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory": unique_subcategories
})

subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=True)
subcategory_df.to_csv("Resources/subcategory.csv", index=True)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={'blurb': 'description'}, inplace=True)

# Check the updated column names
print(campaign_df.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category',
       'category', 'subcategory'],
      dtype='object')

In [16]:
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [17]:
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  subcategory              1000 non-null   object
dtypes: bool(2), int64(7), object(8)
memory usage: 119.3+ KB

In [18]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [39]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                 object
end_date                    object
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [41]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt

# Rename the columns
campaign_df.rename(columns={'launched_at': 'launch_date', 'deadline': 'end_date'}, inplace=True)

# Get the list of column names after renaming
columns_list = campaign_df.columns.tolist()
print(columns_list)

['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged', 'outcome', 'backers_count', 'country', 'currency', 'launch_date', 'end_date', 'staff_pick', 'spotlight', 'category & sub-category', 'category', 'subcategory']

In [42]:
#Convert UTC timestamps to datetime format with 'YYYY-MM-DD' format
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='ms').dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='ms').dt.strftime('%Y-%m-%d')

# # Convert date strings to datetime format
# campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'])
# campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])

# Display the DataFrame with the updated datetime format
campaign_df.head()

ValueError: non convertible value 1970-01-01 with the unit 'ms', at position 0

In [21]:
# Check the data types after conversion
print(campaign_df.dtypes)

cf_id                               int64
contact_id                          int64
company_name                       object
description                        object
goal                              float64
pledged                           float64
outcome                            object
backers_count                       int64
country                            object
currency                           object
launch_date                datetime64[ns]
end_date                   datetime64[ns]
staff_pick                           bool
spotlight                            bool
category & sub-category            object
category                           object
subcategory                        object
dtype: object

In [22]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

# Merge campaign_df with category_df on the "category" column
campaign_df_merged = pd.merge(campaign_df, category_df, on="category")

# Merge the resulting DataFrame with subcategory_df on the "subcategory" column
campaign_df_merged = pd.merge(campaign_df, subcategory_df, on="subcategory")

# Display the final merged DataFrame
campaign_df_merged.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,subcategory_id
990,50,3613,Rose-Fuller,Upgradable holistic system engine,10000.0,12042.0,successful,117,US,USD,1970-01-01 00:00:01.632805200,1970-01-01 00:00:01.633323600,False,False,film & video/science fiction,film & video,science fiction,subcat23
991,1193,3992,"Russo, Kim and Mccoy",Balanced optimal hardware,10000.0,824.0,failed,14,US,USD,1970-01-01 00:00:01.605592800,1970-01-01 00:00:01.632286800,False,False,film & video/science fiction,film & video,science fiction,subcat23
992,1973,2357,Montgomery-Castro,De-engineered disintermediate encryption,43800.0,13653.0,failed,248,AU,AUD,1970-01-01 00:00:01.611640800,1970-01-01 00:00:01.642485600,False,False,film & video/science fiction,film & video,science fiction,subcat23
993,175,3264,Davis LLC,Compatible logistical paradigm,4700.0,7992.0,successful,81,AU,AUD,1970-01-01 00:00:01.629608400,1970-01-01 00:00:01.634014800,False,False,film & video/science fiction,film & video,science fiction,subcat23
994,1994,4093,Boyle Ltd,Streamlined fault-tolerant conglomeration,3300.0,1980.0,failed,21,US,USD,1970-01-01 00:00:01.615096800,1970-01-01 00:00:01.630904400,False,True,film & video/science fiction,film & video,science fiction,subcat23
995,1475,2813,Wood Inc,Re-engineered composite focus group,187600.0,35698.0,failed,830,US,USD,1970-01-01 00:00:01.597640400,1970-01-01 00:00:01.628139600,False,False,film & video/science fiction,film & video,science fiction,subcat23
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,1970-01-01 00:00:01.606543200,1970-01-01 00:00:01.614492000,False,False,journalism/audio,journalism,audio,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,1970-01-01 00:00:01.609740000,1970-01-01 00:00:01.633323600,False,False,journalism/audio,journalism,audio,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.618722000,False,False,journalism/audio,journalism,audio,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,1970-01-01 00:00:01.643695200,1970-01-01 00:00:01.644991200,False,False,journalism/audio,journalism,audio,subcat24

In [23]:
# Drop unwanted columns
# Check the current columns in the DataFrame
print(campaign_df_merged.columns)

Index(['cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launch_date',
       'end_date', 'staff_pick', 'spotlight', 'category & sub-category',
       'category', 'subcategory', 'subcategory_id'],
      dtype='object')

In [24]:
# # List of columns to drop
columns_to_drop = ['staff_pick', 'spotlight', 'category & sub-category']

# Drop the unwanted columns
campaign_df_merged = campaign_df_merged.drop(columns=columns_to_drop, axis=1)

# Check the DataFrame after dropping columns
campaign_df_merged.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,food,food trucks,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,1970-01-01 00:00:01.592629200,1970-01-01 00:00:01.611986400,food,food trucks,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,1970-01-01 00:00:01.606629600,1970-01-01 00:00:01.623387600,food,food trucks,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400.0,21307.0,failed,296,US,USD,1970-01-01 00:00:01.588654800,1970-01-01 00:00:01.622350800,food,food trucks,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,1970-01-01 00:00:01.611900000,1970-01-01 00:00:01.613196000,food,food trucks,subcat1

In [27]:
# Export the DataFrame as a CSV file. 
campaign_df_merged.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

In [ ]:
contact_info_df

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

In [ ]:
# Export the Contacts DataFrame to a CSV file named 'contacts.csv'
contacts_df.to_csv("Resources/contactnew.csv", index=False)

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
# Initialize an empty list to store dictionaries
contact_info_list = []
# Iterate through the DataFrame and convert each row to a dictionary
for index, row in contact_info_df.iterrows():
    contact_dict = row.to_dict()
    contact_info_list.append(contact_dict)
# Print the list of dictionaries
print(contact_info_list)

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [ ]:
# Check the datatypes.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)